# coding=utf8
"""{{#appName}}{{{appName}}}{{/appName}}

{{#appDescription}}{{{appDescription}}}{{/appDescription}}

{{#infoEmail}}Contact: {{{infoEmail}}}{{/infoEmail}}
"""
from __future__ import absolute_import, print_function, unicode_literals
